<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>Đáp gọn</title>
</head>
<body>
        <nav class="menu_horizontal">
                <span>Quyết đê!</span>
                <span>Hỏi nhanh</span>
                <span>Đáp gọn</span>
            </nav>
<div><h1 class="text-center" id="text_question">Question</h1></div>

   <div id="choose">
       <button type= "button"   >Có</button>
       <Button type="button">Không</Button>
   </div>
</body>
</html>